.content-area {
  width: 100%;
  margin-bottom: 100px;
}

.page-header {
  margin: 30px;
}

.entry-title {
  font-size: 24px;
}

// ## Company store locations view
.location {

  &__contacts {
    @include querymin($screen__xs) {
      display: flex;
    };
  }

  &__info-wrap {
    margin-right: 30px;

    flex: 30%;
  }

  &__label,
  &__field {
    margin: 5px 0;

    @include querymin($screen__xs) {
      display: inline-block;
    };
  }

  &__map {
    margin-top: 22px;

    flex: 70%;
  }

  .fa {
    width: 15px;

    text-align: center;

    font-size: 12px;
  }
}
