// Text meant only for screen readers.
.screen-reader-text {
  // scss-lint:disable ImportantRule
  position: absolute !important;
  // scss-lint:enable ImportantRule

  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;

  &:focus {
    z-index: 100000; // Above WP toolbar.
    top: 5px;
    left: 5px;

    display: block;
    // scss-lint:disable ImportantRule
    clip: auto !important;
    // scss-lint:enable ImportantRule

    width: auto;
    height: auto;
    padding: 15px 23px 14px;

    text-decoration: none;

    color: $color__black;
    border-radius: 3px;
    background-color: $color__dark-alt;
    box-shadow: 0 0 2px 2px rgba($color__black, .6);

    font-weight: bold;
    line-height: normal;

    @include font-size(.875);
  }
}
