button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

}

.toggle-search {
  height: 50px;
  width: 50px;
  cursor: pointer;

  .btn-search {
    width: 50px;
    height: 50px;
    padding: 15px;
    fill: rgba($color__text-white,.5);
    transition: $site__transition-std fill;

    &:hover {
      fill: rgba($color__text-white,1);;
    }
  }
}
