button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

}

.toggle-search {
  .btn-search {
    width: 50px;
    height: 50px;
    padding: 15px;
    fill: $color__text-screen;
  }
}
