@import 'buttons';

@import 'fields';

.cart-form {
  display: flex;

  background: $color__dark-alt;

  flex-wrap: wrap;

  &__offers {
    width: 50%;
    padding: 30px;

    text-align: center;
  }

  &__quantity {
    width: 50%;
    padding: 30px;

    text-align: center;
  }

  &__button {
    position: relative;

    width: 100%;
    height: 100px;
    padding: 25px;

    text-transform: uppercase;

    color: $color__white;
    border: 0;
    background: $color__red;
  }
}
