html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  // Inherit box-sizing to make it easier to change the property for components that leverage other behavior;
  // see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: inherit;
}

body {
  overflow-x: hidden;

  background: $color__dark-alt;
}

article {
  &:last-of-type {
    border-bottom: 0;
  }
}

blockquote,
q {
  quotes: '' '';

  &::before,
  &::after {
    content: '';
  }
}

hr {
  height: 1px;
  margin-bottom: 1.5em;

  border: 0;
  background-color: $color__grey;
}

img {
  max-width: 100%; // Adhere to container width.
  height: auto; // Make sure images are scaled correctly.
}

@import 'lists';

@import 'tables';
