.sticky {
  display: block;
}

.hentry {
  position: relative;

  padding: 0 30px 30px;

  border-bottom: 1px solid $color__grey-light;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content {
  margin: 1.5em 0 0;
}

.entry-content {
  color: #5f5e5e;

  font-family: $font__secondary;
  font-size: 14px;
}

.page-links {
  clear: both;

  margin: 0 0 1.5em;
}

.page-wrap {
  width: 100%;
  min-height: 100vh;

  transition: transform $transition__normal;
  transform: translate3d(0,0,0);

  background-color: $color__white;

  @include querymin($site-screen-md) {
    margin-left: 200px;
  };

  .site-mobile-nav-open & {
    transform: translate3d(200px,0,0);

    &:before {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      background: rgba($color__black, .5);
    }
  }
}

.products {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;

  background: $color__white;

  flex-wrap: wrap;

  @include query($site-screen-sm) {
    .single-product & {
      flex-wrap: nowrap;
    }
  };

  .product {
    position: relative;

    min-width: 250px;
    padding: 10px;

    cursor: pointer;

    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;

    @include animation(openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) backwards);
    flex: 1 1 250px;

    a {
      display: block;

      text-decoration: none;
      text-transform: uppercase;

      color: $color__black;

      @include rem-fallback(font-size, $font__size-small);
    }
    h3 {
      @include rem-fallback(font-size, $font__size-small);
    }
    h3,
    .button,
    .price {
      font-weight: $font__weight-light;
    }
    .wp-post-image {
      width: 125px;
    }
    .price {
      color: $color__red;
    }
    .onsale {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

#main {
  width: 100%;

  > .woocommerce-info {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
    text-align: center;

    @include rem-fallback(font-size, 36px);
  }
}

.single-product {
  #main > .product {
    display: flex;

    min-height: 100vh;

    background: $color__dark_main;
  }

  .product-full-wrap {
    width: 100%;
    min-height: 100vh;

    @include querymin($site-screen-sm) {
      display: flex;
    };
  }

  .woocommerce-main-image {
    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 315px;

    text-align: center;

    @include animation(openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) backwards);

    .wp-post-image {
      width: auto;
      max-height: 100%;
    }
  }

  .thumbnails {
    text-align: center;
    a {
      display: block;

      margin: 60px 0;
    }

    img {
      @include animation(openspace .3s ease forwards, restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) backwards);
    }
  }
}

.product__summary {
  position: relative;

  display: flex;
  flex-direction: column;

  color: $color__white;
  box-shadow: 0 0 10px 0 $color__dark-main;

  flex: 3;
  justify-content: space-between;
}

.product__title {
  margin: 0;
  padding: 30px;

  text-transform: uppercase;

  background: $color__dark-alt;

  @include rem-fallback(font-size, $font__size-large);
}

.product__info-wrap {
  position: relative;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.product__content {
  padding: 30px;

  color: $color__grey;

  font-family: $font__secondary;
  font-weight: $font__weight-light;

  flex-grow: 1;
  @include rem-fallback(font-size, $font__size-small);
}

.product__details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  padding: 30px;

  transition: $transition__normal;
  transform: translate3d(100%,0,0);

  background: $color__dark-main;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &_toggle {
    margin: 0 20%;
    padding: 15px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: $color__black;
    border-radius: 5px;
    background: $color__yellow;

    font-size: 12px;

    .fa {
      margin-left: 5px;
    }
  }

  &_close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 30px;

    cursor: pointer;
  }

  &.product__details_active {
    transform: translate3d(0,0,0);
  }
}

.product__images-wrap {
  position: relative;

  overflow: hidden;
  overflow-y: hidden;

  box-sizing: border-box;

  background: $color__white;

  flex: 3;
  @include query($site-screen-sm) {
    height: 50vh;
  };
}

.product__meta {
  padding: 30px;

  text-align: center;

  font-size: 12px;

  a {
    margin: 0 5px;
    padding: 5px;

    text-transform: uppercase;

    color: $color__black;
    border-radius: 5px;
    background: $color__yellow;
  }
}

.product__images {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.products__related {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: scroll;

  transition: $transition__normal;
  transform: translate3d(0,100%,0);

  background: $color__white;


  &.products__related_active {
    transform: translate3d(0,50px,0);
  }
}

.products__related_info {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  margin-left: 150px;
  padding: 15px;

  cursor: pointer;
}

.site-content {
  display: flex;
}

.overlay-shadow {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translate3d(0,0,0);
}

.product-lightbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: $color__white;

  .thumbnails {
    display: flex;
    overflow-x: scroll;

    flex-wrap: nowrap;

    a {
      min-width: 150px;
    }
  }

  .admin-bar & {
    margin-top: 32px;
  }
}
.site {
  position: relative;
  right: 0;

  display: flex;
  overflow-x: hidden;

  min-height: 100vh;

  transition: $transition__normal;
}
.lightbox-open {
  #page,
  .site-footer-widgets {
    display: none;
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  .fa {
    padding: 25px;

    font-size: 24px;
  }
}

.site-footer-widgets {
  display: none;
}

.shop_attributes {
  text-align: left;

  td {
    display: block;

    margin: 3px 50px 3px 3px;
    padding: 5px 15px;

    border: 0;
    border-radius: 5px;
    background: $color__dark-alt;
  }
}
