.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;

  margin: 0 0 1.5em;
}

.page-wrap {
  width: 100%;

  background-color: #fff;
}

.products {
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;

  background: #fff;

  @include prefix(display, flex, $prefix-default);
  @include prefix(flex-wrap, wrap, $prefix-default);
  .product {
    position: relative;

    min-width: 250px;
    padding: 10px;

    cursor: pointer;

    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;

    @include prefix(flex, 1 1 250px, $prefix-default);
    a {
      text-decoration: none;
      text-transform: uppercase;

      color: $color__text-screen;

      @include rem-fallback(font-size, $font__size-small);
    }
    h3 {
      @include rem-fallback(font-size, $font__size-small);
    }
    h3,
    .button,
    .price {
      font-weight: $font__weight-light;
    }
    .wp-post-image {
      width: 125px;
    }
    .price {
      color: $color__text-attention;
    }
    .onsale {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

#main {
  width: 100%;
}
.single-product {
  #main > .product {
    display: flex;

    min-height: 100vh;

    background: $color__dark_main;
  }

  .product-full-wrap {
    display: flex;

    width: 100%;
  }

  .woocommerce-main-image {
    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 315px;

    text-align: center;
    .wp-post-image {
      width: auto;
      max-height: 100%;
    }
  }
  .thumbnails {
    text-align: center;
    a {
      display: block;

      margin: 60px 0;
    }
  }
}

.product__summary {
  display: flex;
  flex-direction: column;

  color: $color__text-white;

  flex: 3;
  justify-content: space-between;
}

.product__title {
  margin: 0;
  padding: 30px;

  text-transform: uppercase;

  background: $color__dark-alt;

  @include rem-fallback(font-size, $font__size-large);
}

.product__info-wrap {
  position: relative;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.product__content {
  padding: 30px;

  color: $color__text-grey;

  font-family: $font__secondary;
  font-weight: $font__weight-light;

  flex-grow: 1;
  @include rem-fallback(font-size, $font__size-small);
}

.product__details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: scroll;

  padding: 30px;

  transition: 500ms;
  transform: translate3d(100%,0,0);

  background: $color__dark-main;

  &.product__details_active {
    transform: translate3d(0,0,0);
  }
}

.product__details-toggle {
  text-align: center;
  padding: 0 30px;
}

.product__images-wrap {
  position: relative;

  overflow-y: hidden;

  box-sizing: border-box;

  background: $color__text-white;

  flex: 3;
}

.product__meta {
  padding: 30px;

  text-align: center;
}

.product__images {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: scroll;
}

.products__related {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: scroll;

  transition: 500ms;
  transform: translate3d(0,100%,0);

  background: $color__text-white;


  &.products__related_active {
    transform: translate3d(0,0,0);
  }
}

.products__related_info {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  margin-left: 150px;
  padding: 15px;

  cursor: pointer;
}

.site-content {
  @include prefix(display, flex, $prefix-default);
}

.overlay-shadow {
  position: absolute;
  // box-shadow: 0 10px 230px 0 rgba(0, 0, 0, .2), 0 -10px 230px 0 rgba(0, 0, 0, .2);
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translate3d(0,0,0);
}

.product-lightbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .admin-bar & {
    margin-top: 32px;
  }
}
.site {
  position: relative;
  right: 0;

  display: flex;

  min-height: 100vh;

  transition: $site__transition-std;
}
.lightbox-open {
  #page,
  .site-footer-widgets {
    display: none;
  }
}
.site-mobile-nav-open {
  #page {
    right: 300px;

    transition: $site__transition-std;
  }
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;

  cursor: pointer;

  background: $color__branding-red;
}
