//
.menu {
  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    margin: 0;
    padding: 0;

    list-style: none;
  }


  &__link {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 80px;
    padding: 20px 10px 20px 35px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;

    color: $color__text-screen;
    background: $color__background-secondary;

    justify-content: center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-50%);
  }

  &__desc {
    display: block;
    overflow: hidden;

    text-overflow: ellipsis;

    font-size: 11px;
  }
}

.sub-menu {
  margin: 0;
  padding: 0;

  list-style: none;

  background: #191b1c;

  &__link {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 60px;
    padding: 10px 10px 10px 35px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;

    color: $color__text-white;

    font-size: 13px;

    justify-content: center;
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    overflow: hidden;

    margin: 0 0 1.5em;
  }

  .nav-previous {
    float: left;

    width: 50%;
  }

  .nav-next {
    float: right;

    width: 50%;

    text-align: right;
  }
}

.site-header {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;

  width: 200px;

  transition: transform 500ms;
  transform: translate3d(0,0,0);

  background: $color__dark-alt;
  box-shadow: 0 0 10px 0 $color__dark-main;

  .site-mobile-nav-open & {
    transform: translate3d(0,0,0);
  }

  @media screen and (max-width: 1023px) {
    transform: translate3d(-100%,0,0);
  }
}

.site-branding {
  position: relative;

  width: 200px;
  min-width: 100%;
  height: 100px;

  background: $color__dark-main url('./../images/heart_logo2.svg') center / contain no-repeat;

  font-size: 0;
  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.site-meta {
  position: relative;
  z-index: 1;

  box-shadow: 0 0 5px #969696;
}

.site-transaction {
  position: absolute;
  z-index: 1;
  bottom: 0;

  height: 100px;
  margin-left: auto;

  cursor: pointer;
  text-transform: uppercase;

  @include prefix(display, flex, $prefix-default);
}
.site-customer {
  width: 200px;
  padding: 25px 30px;

  text-align: right;

  background: $color__background-secondary;
  .customer-interaction,
  .customer-name {
    display: block;
  }
  .customer-interaction {
    @include rem-fallback(font-size, $font__size-base);
  }
  .customer-name {
    @include rem-fallback(font-size, $font__size-small);
  }
}
.site-cart {
  padding: 25px 30px;

  text-align: right;

  background: $color__branding-red;
  .cart-contents {
    white-space: nowrap;
    text-decoration: none;
  }
  .cart-total,
  .cart-count {
    display: block;

    color: $color__text-white;
  }
  .cart-total {
    @include rem-fallback(font-size, $font__size-base);
  }
  .cart-count {
    @include rem-fallback(font-size, $font__size-small);
  }
}

ul.page-numbers {
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: right;
  text-decoration: none;

  color: $color__text-white;
  li {
    display: inline-block;
  }
  .page-numbers {
    display: block;

    margin-left: 5px;
    padding: 15px;

    text-decoration: none;

    color: $color__text-white;
    &.current,
    &:hover {
      color: $color__text-main;
      background: $color__background-secondary;
    }
  }
}

.menu-fixed {
  position: fixed;
  top: 0;
}

.site-mobile-nav {
  position: fixed;
  z-index: 20;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 100px 30px;

  background: $color__background-pre;
  .site-mobile-nav-open & {
    z-index: 1;
  }
  .mobile-nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
  .widget {
    margin: 1.5em 0 0;
  }
  .admin-bar & {
    margin-top: 46px;
  }
}

.nav-menu-mobile {
  margin: 0;
  padding: 0;

  list-style: none;
  .menu-item {
    padding: 10px 0;
    a {
      text-decoration: none;

      color: $color__text-main;
    }
  }
}

@include querymin($site-screen-sm) {
  .mobile-header-nav,
  .site-mobile-nav {
    display: none;
  }
}

/* Navigation toggle button. */
.lines-button {
  position: relative;

  display: inline-block;

  padding: 30px;

  cursor: pointer;
  user-select: none;
  transition: $site__transition-std;

  border: none;
  border-radius: $site__button-size/7;
  outline: none;
  background: transparent;
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
  }
  .lines {
    position: relative;

    @include line;
    &:before,
    &:after {
      position: absolute;
      left: 0;

      content: '';
      transform-origin: $site__button-size/14 center;

      @include line;
    }
    &:before {
      top: $site__button-size/4;
    }
    &:after {
      top: -$site__button-size/4;
    }
  }
  &.close {
    &:hover {
      .lines {
        background: transparent;
        &:before,
        &:after {
          top: 0;

          width: $site__button-size;

          transform-origin: 50% 50%;
        }
        &:before {
          transform: rotate3d(0,0,1,45deg);
        }
        &:after {
          transform: rotate3d(0,0,1,-45deg);
        }
      }
    }
  }
}
