// Menu structure
.menu {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  max-height: 100vh;
  margin: 0;
  padding: 0 0 202px;

  list-style: none;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    margin: 1px 0 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 80px;
    padding: 20px 10px 20px 35px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;

    color: $color__black;
    border-left: 5px solid $color__yellow;
    background: $color__yellow;

    justify-content: center;

    .menu__item_selected & {
      border-color: $color__red;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-50%);
  }

  &__desc {
    display: block;
    overflow: hidden;

    text-transform: none;
    text-overflow: ellipsis;

    font-size: 11px;
  }
}

.sub-menu {
  margin: 0;
  padding: 0;

  list-style: none;

  background: #191b1c;

  &__item {
    border-left: 5px solid $color__grey-dark;
  }

  &__item_selected {
    border-color: $color__red;
  }

  &__link {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 60px;
    padding: 10px 10px 10px 35px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;

    color: $color__white;

    font-size: 13px;

    justify-content: center;
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    overflow: hidden;

    margin: 0 0 1.5em;
  }

  .nav-previous {
    float: left;

    width: 50%;
  }

  .nav-next {
    float: right;

    width: 50%;

    text-align: right;
  }
}

.site-header {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;

  width: 200px;

  transition: transform $transition__normal;
  transform: translate3d(0,0,0);

  background: $color__dark-alt;
  box-shadow: 0 0 10px 0 $color__dark-main;

  @include query($site-screen-md) {
    transform: translate3d(-100%,0,0);
  };

  .site-mobile-nav-open & {
    transform: translate3d(0,0,0);
  }
}

.site-branding {
  position: relative;

  width: 200px;
  min-width: 100%;
  height: 100px;
  margin-bottom: 1px;

  background: $color__red url('./../images/heart_logo2.svg') center / contain no-repeat;

  font-size: 0;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media screen and (max-height: $site-screen-xs) {
    height: 50px;
  }
}

.site-meta {
  position: relative;
  z-index: 1;

  box-shadow: 0 0 5px #969696;
}

.site-transaction {
  position: absolute;
  z-index: 1;
  bottom: 0;

  display: flex;

  height: 100px;
  margin-left: auto;

  cursor: pointer;
  text-transform: uppercase;

  @media screen and (max-height: $site-screen-xs) {
    height: 50px;
  }
}

.site-customer {
  z-index: 1;

  min-width: 200px;
  max-width: 200px;
  padding: 25px 30px;

  text-align: right;

  background: $color__yellow;
  box-shadow: 0 0 10px 0 $color__dark-main;

  .customer-interaction,
  .customer-name {
    display: block;
  }
  .customer-interaction {
    @include rem-fallback(font-size, $font__size-base);
  }
  .customer-name {
    @include rem-fallback(font-size, $font__size-small);
  }

  @media screen and (max-height: $site-screen-xs) {
    padding: 5px 30px;
  }
}

.site-cart {
  padding: 25px 30px;

  text-align: right;

  background: $color__red;
  box-shadow: 0 0 10px 0 #191b1c;

  .cart-contents {
    white-space: nowrap;
    text-decoration: none;
  }
  .cart-total,
  .cart-count {
    display: block;

    color: $color__white;
  }
  .cart-total {
    @include rem-fallback(font-size, $font__size-base);
  }
  .cart-count {
    @include rem-fallback(font-size, $font__size-small);
  }

  @media screen and (max-height: $site-screen-xs) {
    padding: 5px 30px;
  }
}

ul.page-numbers {
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: right;
  text-decoration: none;

  color: $color__white;
  li {
    display: inline-block;
  }
  .page-numbers {
    display: block;

    margin-left: 5px;
    padding: 15px;

    text-decoration: none;

    color: $color__white;
    &.current,
    &:hover {
      color: $color__grey-dark;
      background: $color__yellow;
    }
  }
}

.menu-fixed {
  position: fixed;
  top: 0;
}

.site-mobile-nav {
  position: fixed;
  z-index: 20;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 100px 30px;

  background: $color__grey-light;

  .site-mobile-nav-open & {
    z-index: 1;
  }

  .mobile-nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }

  .widget {
    margin: 1.5em 0 0;
  }

  .admin-bar & {
    margin-top: 46px;
  }
}

.nav-menu-mobile {
  margin: 0;
  padding: 0;

  list-style: none;
  .menu-item {
    padding: 10px 0;
    a {
      text-decoration: none;

      color: $color__grey-dark;
    }
  }
}

@include querymin($site-screen-md) {
  .mobile-header-nav,
  .site-mobile-nav {
    display: none;
  }
}

// Navigation toggle button.
.lines-button {
  position: absolute;
  z-index: 1;
  top: -10px;

  display: inline-block;

  padding: 30px;

  cursor: pointer;
  user-select: none;
  transition: $transition__normal;

  border: 0;
  border-radius: 0;
  outline: none;
  background: $color__white;

  .site-mobile-nav-open & {
    position: absolute;

    transform: translate3d(200px, 0, 0);
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    transition: 0;
  }

  .lines {
    position: absolute;
    top: 58%;
    left: 50%;

    transform: translateX(-50%);

    @include line;
    &:before,
    &:after {
      position: absolute;
      left: 0;

      content: '';
      transform-origin: $site__button-size / 14 center;

      @include line;
    }
    &:before {
      top: $site__button-size / 4;
    }
    &:after {
      top: -$site__button-size / 4;
    }
  }
  &.close {
    .lines {
      background: transparent;
      &::before,
      &::after {
        top: 0;

        width: $site__button-size;

        transform-origin: 50% 50%;
      }
      &::before {
        transform: rotate3d(0,0,1,45deg);
      }
      &::after {
        transform: rotate3d(0,0,1,-45deg);
      }
    }
  }
}
