p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

abbr,
acronym {
  cursor: help;

  border-bottom: 1px dotted $color__grey-light;
}

mark,
ins {
  text-decoration: none;
}

big {
  font-size: 125%;
}
