body,
button,
input,
select,
textarea {
  color: $color__grey-dark;

  font-family: $font__main;
  line-height: $font__line-height-body;

  @include font-size(1);
}

@import 'headings';

@import 'copy';
