
$color__black: #000;

$color__grey: #ccc;
$color__grey-dark: #404040;
$color__grey-light: #eee;

$color__dark-main: #191b1c;
$color__dark-alt: #202428;

$color__white: #fff;

$color__red: #ff0513;

$color__yellow: #fae807;
