
// Variables: structure

$size__site-main:     100%;
$size__site-sidebar:  25%;
$size__site-wrap:     100%;
$size__site-wrap-max: 1280px;

$screen__md: 992px;
$screen__sm: 768px;
$screen__xs: 480px;

$transition__normal: 500ms;

$button__size_normal: 1.5rem;

$search__height: 50px;
