$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-wrap: 100%;
$size__site-wrap-max: 1280px;

$site-screen-md: 992px;
$site-screen-sm: 768px;
$site-screen-xs: 480px;

$prefix-default: webkit moz ms;

$site__transition-std: 250ms;

$site__button-size : 1.5rem;
