
$font__main:      "Playfair Display", Georgia, serif;
// $font__main:   "Oswald", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font__secondary: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font__line-height-normal: 1.2;
$font__line-height-body:   1.5;
$font__line-height-pre:    1.6;

$font__size-base:   16px;
$font__size-small:  12px;
$font__size-medium: 14px;
$font__size-large:  26px;
$font__size-xl:     46px;

$font__weight-thin:   100;
$font__weight-light:  300;
$font__weight-normal: 400;
$font__weight-bold:   700;
