.main-navigation {
	height: 100px;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		height: 100px;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	.nav-menu {
		@include prefix(display, flex, $prefix-default);
	}
	li {
		float: left;
		position: relative;
		margin: 0 0 0 25px;
		padding: 25px 20px;
		text-transform: uppercase;
		a {
			color: $color__text-white;
		}
		&:hover > a,
		&.focus > a {
		}
	}
	.menu-description {
		display: block;
		@include rem-fallback(font-size, $font__size-small);
	}
	.current-menu-item {
		background: $color__background-secondary;
		a {
			color: $color__text-main;
		}
	}
	.woocommerce & {
		li {
			&:first-child {
				background: $color__background-secondary;
				a {
					color: $color__text-main;
				}
			}
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
	@include query($site-screen-sm) {
		display: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-header,
.site-meta {
		@include prefix(display, flex, $prefix-default);
		@include prefix(align-items, stretch, $prefix-default);
}

.site-branding {
	position: relative;
	width: 200px;
	height: 100px;
	margin: 0 120px 0 0;
	font-size: 0;
	background: $color__branding-red url("./images/logo.png") center / contain no-repeat;
	a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.site-meta {
	background: lighten($color__background-screen, 10%);
	.site-meta-left,
	.site-meta-wide {
		@include prefix(display, flex, $prefix-default);
		@include prefix(align-items, center, $prefix-default);
		padding: 10px 0;
		.widget {
			margin: 0;
		}
		.widget_product_search {
			position: relative;
			margin-left: 60px;
			.toggle-search {
				content: "";
				position: absolute;
				top: -10px;
				bottom: -10px;
				left: -60px;
				width: 50px;
				background: $color__background-secondary;
				cursor: pointer;
			}
			.searchform {
				width: 0;
				overflow: hidden;
				white-space: nowrap;
				transition: $site__transition-std;
				&.open {
					width: 220px;
					transition: $site__transition-std;
				}
			}
		}
	}
	.site-meta-left {
		width: 200px;
		padding-left: 30px;
		color: $color__text-white;
	}
}

.site-transaction {
	@include prefix(display, flex, $prefix-default);
	height: 100px;
	margin-left: auto;
	text-transform: uppercase;
	cursor: pointer;
}
.site-customer {
	padding: 25px 30px;
	background: $color__background-secondary;
	text-align: right;
	.customer-interaction,
	.customer-name {
		display: block;
	}
	.customer-interaction {
		@include rem-fallback(font-size, $font__size-base);
	}
	.customer-name {
		@include rem-fallback(font-size, $font__size-small);
	}
}
.site-cart {
  padding: 25px 30px;
	background: $color__branding-red;
	text-align: right;
	.cart-contents {
		text-decoration: none;
	}
	.cart-total,
	.cart-count {
		display: block;
		color: $color__text-white;
	}
	.cart-total {
		@include rem-fallback(font-size, $font__size-base);
	}
	.cart-count {
		@include rem-fallback(font-size, $font__size-small);
	}
}

ul.page-numbers {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
	color: $color__text-white;
	text-decoration: none;
	li {
		display: inline-block;
	}
	.page-numbers {
		display: block;
		padding: 15px;
		margin-left: 5px;
		color: $color__text-white;
		text-decoration: none;
		&.current,
		&:hover {
			background: $color__background-secondary;
			color: $color__text-main;
		}
	}
}

.menu-fixed {
	position: fixed;
	top: 0;
}

.site-mobile-nav {
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 100px 30px;
	background: $color__background-pre;
	z-index: -1;
	.site-mobile-nav-open & {
		z-index: 1;
	}
	.mobile-nav-toggle {
		position: absolute;
		top: 0;
		right: 0;
	}
	.widget {
		margin: 1.5em 0 0;
	}
	.admin-bar & {
		margin-top: 46px;
	}
}

.nav-menu-mobile {
	list-style: none;
	padding: 0;
	margin: 0;
	.menu-item {
		padding: 10px 0;
		a {
			text-decoration: none;
			color: $color__text-main;
		}
	}
}

@include querymin($site-screen-sm) {
	.mobile-header-nav,
	.site-mobile-nav {
		display: none;
	}
}

/* Navigation toggle button. */
.lines-button {
  display: inline-block;
  padding: 30px;
  transition: $site__transition-std;
  cursor: pointer;
  user-select: none;
  border-radius: $site__button-size/7;
	outline: none;
  background: transparent;
  border: none;
	position: relative;
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
  }
	.lines {
	  @include line;
	  position: relative;
	  &:before, &:after {
	   @include line;
	    position: absolute;
	    left: 0;
	    content: '';
	    transform-origin: $site__button-size/14 center;
	  }
	  &:before { top: $site__button-size/4; }
	  &:after { top: -$site__button-size/4; }
	}
	&.close {
		&:hover {
			.lines{
					background: transparent;
					&:before, &:after{
						transform-origin: 50% 50%;
						top:0;
						width: $site__button-size;
					}
					&:before{
						transform: rotate3d(0,0,1,45deg);
					}
					&:after{
						transform: rotate3d(0,0,1,-45deg);
					}
			}
		}
	}
}
