.searchform {
  position: absolute;
  top: 0;

  overflow: hidden;

  width: 100%;
  height: $search__height;
  margin-left: $search__height;

  transition: $transition__normal background;
  white-space: nowrap;

  font-weight: $font__weight-light;
  line-height: $search__height;

  @include query($screen__md) {
    width: calc(100% - 50px);
  };

  &__input {
    width: calc(100% - 140px);
    height: $search__height;
    margin: 0;
    padding: 0;

    color: $color__dark-main;
    border: 0;
    outline: none;
    background-color: inherit;

    line-height: $search__height;

    -webkit-appearance: none;
  }

  &__submit {
    height: $search__height;
    padding: 0;

    border: 0;
    outline: none;
    background: none;

    line-height: $search__height;
  }
}

.site-meta {
  &__search {
    @include query($screen__md) {
      margin-left: 50px;
    };
  }
}
