.searchform {
  position: absolute;
  top: 0;

  overflow: hidden;

  width: 100%;
  height: $search__height;
  margin-left: $search__height;

  transition: $site__transition-std background;
  white-space: nowrap;

  font-weight: $font__weight-light;
  line-height: $search__height;

  &__input {
    width: calc(100% - 140px);
    margin: 0;
    padding: 0;

    color: $color__dark-main;
    border: 0;
    outline: none;
    background-color: inherit;

    -webkit-appearance: none;
    line-height: $search__height;
  }

  &__submit {
    padding: 0;

    border: 0;
    outline: none;
    background: none;

    line-height: $search__height;
  }
}
