
// # Mixin Typography REM calculation
@import 'mixin-rem';

// ## Clearfix
@mixin clearfix() {
  display: table;

  content: '';
}

// ## Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// ## Media queries
@mixin query($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin querymin($value) {
  @media screen and (min-width: $value + 1px) {
    @content;
  }
}

@mixin queryminmax($minvalue, $maxvalue) {
  @media screen and (min-width: $minvalue + 1px) and (max-width: $maxvalue) {
    @content;
  }
}

// ## Navigation element: lines burger-to-close button
@mixin line {
  display: inline-block;

  width: $button__size_normal;
  height: $button__size_normal / 7;

  transition: $transition__normal;

  border-radius: $button__size_normal / 14;
  background: $color__black;
}

// ## Animation effects
@keyframes visibility {
  0% {
    position: absolute;

    width: 100%;

    opacity: 0;
  }
  50% {
    position: static;

    width: 200%;

    opacity: 0;

    @include transform(scale(30));
  }
  100% {
    width: 100%;

    opacity: 1;

    @include transform(scale(1));
  }
}

@keyframes openspace {
  to {
    height: auto;
  }
}

@keyframes restored-item-animation-rev {
  from {
    opacity: 1;

    @include transform(scale(1));
  }

  to {
    opacity: 0;

    @include transform(scale(0));
  }
}

@keyframes restored-item-animation {
  from {
    opacity: 0;

    @include transform(scale(0));
  }
  to {
    opacity: 1;

    @include transform(scale(1));
  }
}
