.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.product-categories {
	list-style: none;
	margin: 0;
	padding: 20px;
	.cat-item {
		padding: 10px;
		a {
			color: $color__text-main;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	.children {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0;
		.cat-item {
			@include rem-fallback(font-size, $font__size-small);
		}
	}
	.category-sub-open {
	 .children {
		 	display: block;
	 }
	}
}
#secondary {
	width: 200px;
	min-width: 200px;
	background: $color__background-secondary;
}
