.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.products {
	@include prefix(display, flex, $prefix-default);
	@include prefix(flex-wrap, wrap, $prefix-default);
	list-style: none;
	margin: 0;
	padding: 0;
	background: #fff;
	text-align: center;
	.product {
		@include prefix(flex, 1 1 250px, $prefix-default);
		min-width: 250px;
		padding: 10px;
		position: relative;
		border-right: 1px solid #F5F5F5;
		border-bottom: 1px solid #F5F5F5;
		a {
			text-decoration: none;
			color: $color__text-screen;
			text-transform: uppercase;
			@include rem-fallback(font-size, $font__size-small);
		}
		h3 {
			@include rem-fallback(font-size, $font__size-small);
		}
		h3,
		.button,
		.price {
			font-weight: $font__weight-light;
		}
		.wp-post-image {
			width: 125px;
		}
		.price {
			color: $color__text-attention;
		}
		.onsale {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.woocommerce {
	.site-content {
		@include prefix(display, flex, $prefix-default);
		@include prefix(flex-flow, row-reverse, $prefix-default);
	}
}
.overlay-shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0px 10px 230px 0px rgba(0, 0, 0, 0.2), 0px -10px 230px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
